html {background: #eee; color: #333;}
body {font: 1.25em/1.5 Source Sans Pro, Droid Sans, Optima, Trebuchet MS, sans-serif; margin: 0; padding: 0;}
a, #site-footer a:visited, .skiplink:visited {color: #070; text-decoration: underline; text-decoration-color: #898; text-decoration-skip-ink: none; text-decoration-thickness: 1px;}
a:visited {color: #464;}
a:hover, #site-footer a:hover{color: #555; text-decoration-color: #888;}
h1,h2,h3,h4,h5,h6 {line-height: 1.125; word-wrap: break-word;}
h1 {font-size: 4rem; margin: 0;}
h2 {font-size: 3rem}
h3 {font-size: 2rem}
h4 {font-size: 1.5rem}
h5, h6 {font-size: 1.25rem;}
h6 {font-style: italic; font-weight: normal;}
figure {margin: inherit;}
img,video,object,embed {height: auto; max-width: 100%;}
li {line-height: 1.75;}
pre,code {color: #555; font-family: Source Code Pro, Andale Mono, Consolas, Inconsolata, monospace;}
pre {overflow-x: auto;}
code {background: #333; color: #eee; padding-left: .125em; padding-right: .125em;}
pre code {display: block; line-height: 1.2; overflow-x: auto; padding: 1em;}
table {border-collapse: collapse; border-spacing: 0; overflow-x: auto;}
caption {font-size: 1.4em; line-height: 2em; text-align: left;}
th {font-style: normal; font-weight: bold; text-align: left;}
th,td {padding-right: .5em;}
th:last-child,td:last-child {padding-right: 0;}
video,pre {min-width: 200px;}
#commentform {font-size: 1rem;}
#commentform textarea {max-width: 40rem; width: 100%;}
#commentform p:not(.comment-form-cookies-consent) label {display: block;}
#commentform p:not(.comment-form-cookies-consent) input:not([type=submit]) {line-height: 2; max-width: 40rem; width: 100%;}
#content {padding: 6rem 2rem 4rem;}
#page {background-color: #fff;}
#page :focus-visible {outline: 3px solid #050; outline-offset: 0;}
#page :not(button):not(input):not(select):not(textarea):focus-visible {background-color: #050; color: #fff; text-decoration-color: #fff;}
#page button:focus-visible, #page input:focus-visible, #page select:focus-visible, #page textarea:focus-visible {outline-width: 2px; outline-offset: 1px;}
#site-footer {background-image: linear-gradient(#ddd, #eee 8px); padding: 1rem 2rem;}
#site-footer ul {display: inline-block; list-style: none; margin: 0; padding: 0;}
#site-footer li {display: inline; margin: 0 1em 0 0;}
#site-footer li ul {margin-left: 1em;}
#site-footer li li:last-child {margin-right: 0;}
#site-header {background-color: #fff; padding: 1em 1em;}
#site-navigation:focus, #site-navigation:focus-visible a {color: #fff;}
#widgets {display: flex; gap: 2rem; padding: 0 2rem 2rem;}
.aligncenter {text-align: center;}
.alignleft {text-align: left;}
.alignright {text-align: right;}
.comments, .entry-meta-terms {margin-top: 6rem;}
.entry-meta-terms + .comments {margin-top: 2rem;}
.comments h2 {font-size: 1.5rem;}
.bypostauthor, .entry-meta, .gallery-caption, .wp-caption, .wp-caption-text {color: #666; font-style: italic; line-height: 2;}
.entry-meta {margin-bottom: 1em;}
.entry-meta ul {list-style: none; margin: 0; padding: 0;}
.entry-meta li {display: inline-block; margin: 0; padding: 0;}
.entry-meta-separator {font-style: normal; padding: 0 0.5em;}
.entry-meta .entry-meta-updated, .entry-meta .entry-meta-guid {display: none;}
.e-content {margin-top: 4rem;}
.e-content:after {clear: both; content: ""; display: block;}
.nav-links {display: flex; margin-top: 2rem; justify-content: space-between;}
.screen-reader-text {border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; word-wrap: normal !important;}
.skiplink {background-color: #fff; left: -10em; margin: 0.5em; padding: 0 .25em !important; position: absolute; transition: left 0.3s; z-index: 1;}
.skiplink:focus {left: 0;}
.sticky {background-color: #eee; margin-top: 2em; padding: 0.5em 1em;}
.sticky h2 {margin-top: 0.25em;}
